# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import re

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, date_add
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd

import parso
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

In [2]:
import psycopg2
from sql_queries import immigration_table_insert, temperature_table_insert, i94port_table_insert

### Step 1: Scope the Project and Gather Data

#### Scope 
For the scope of work, there will be 2 dimension tables and 1 fact table. Firstly the immigration data will be aggregated by city, secondly the temperature data will be aggregated by city information. The results of these two operations will be merged based on city value to create one fact table. The final database will be created to analyze whether or not the temperature affects the destination cities of immigration.

#### Describe and Gather Data 
I94 immigration data gathered from the US National Tourism and Trade Office website. The format of the data is a binary database storage formata and called SAS7BDAT.

The temperature data is a Kaggle data set. It contains the temperature information of cities all around the world. This data can be found in the link below.
https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

#### 1. Process of Immigration Data

In [3]:
# Read in the immigration data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [4]:
raw_row_amount=len(df)

In [5]:
df.head(50)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1953.0,09302016,NaN,NaN,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,NaN,M,1970.0,09302016,NaN,NaN,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,NaN,M,1968.0,09302016,NaN,NaN,AZ,9.247849e+10,00608,B1
10,23.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20671.0,...,NaN,M,1964.0,09302016,NaN,NaN,TK,9.250139e+10,00001,B2
11,24.0,2016.0,4.0,101.0,101.0,TOR,20545.0,1.0,MO,20554.0,...,NaN,M,1983.0,09302016,NaN,NaN,MQ,9.249091e+10,03348,B2
12,27.0,2016.0,4.0,101.0,101.0,BOS,20545.0,1.0,MA,20549.0,...,NaN,M,1958.0,04062016,M,NaN,LH,9.247876e+10,00422,B1
13,28.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20549.0,...,NaN,M,1960.0,04062016,F,NaN,LH,9.247890e+10,00422,B1
14,29.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20561.0,...,NaN,M,1954.0,09302016,M,NaN,AZ,9.250378e+10,00614,B2
15,30.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NJ,20578.0,...,NaN,M,1967.0,09302016,M,NaN,OS,9.247021e+10,00089,B2
16,31.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NY,20611.0,...,NaN,M,1973.0,09302016,M,NaN,OS,9.247129e+10,00089,B2
17,33.0,2016.0,4.0,101.0,101.0,HOU,20545.0,1.0,TX,20554.0,...,NaN,M,1963.0,09302016,F,NaN,TK,9.250930e+10,00033,B2
18,34.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1968.0,09302016,M,NaN,AZ,9.247042e+10,00602,B2
19,35.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1942.0,09302016,F,NaN,TK,6.697122e+08,1,B2
20,36.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20561.0,...,NaN,M,1979.0,09302016,M,NaN,TK,9.250626e+10,00001,B2
21,37.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20567.0,...,NaN,M,1967.0,09302016,F,NaN,AZ,9.247562e+10,00608,B2
22,38.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20575.0,...,NaN,M,1983.0,09302016,M,NaN,AZ,9.248609e+10,00608,B2
23,39.0,2016.0,4.0,101.0,101.0,MIA,20545.0,1.0,FL,20574.0,...,NaN,M,1951.0,09302016,F,NaN,TK,9.250766e+10,00077,B2
24,40.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20554.0,...,NaN,M,1981.0,09302016,M,NaN,OS,9.248056e+10,00065,B1
25,41.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20562.0,...,NaN,M,1984.0,09302016,M,NaN,OS,9.247781e+10,00065,B1
26,42.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20580.0,...,NaN,M,1978.0,09302016,M,NaN,TK,9.250622e+10,00005,B1
27,47.0,2016.0,4.0,101.0,110.0,NYC,20545.0,1.0,NJ,20665.0,...,NaN,M,1988.0,D/S,F,NaN,AY,9.249398e+10,00005,F1
28,48.0,2016.0,4.0,101.0,117.0,NYC,20545.0,1.0,NY,20572.0,...,NaN,M,1948.0,09302016,M,NaN,AA,9.247360e+10,00199,B2
29,49.0,2016.0,4.0,101.0,117.0,NYC,20545.0,1.0,NY,20572.0,...,NaN,M,1955.0,09302016,F,NaN,AA,9.247342e+10,00199,B2
30,50.0,2016.0,4.0,101.0,117.0,NYC,20545.0,1.0,MI,20563.0,...,NaN,M,1975.0,09302016,F,NaN,AZ,9.250368e+10,00610,B2
31,51.0,2016.0,4.0,101.0,117.0,MIA,20545.0,1.0,FL,20555.0,...,NaN,M,1971.0,09302016,F,NaN,AA,9.248627e+10,00207,B2
32,52.0,2016.0,4.0,101.0,112.0,NYC,20545.0,1.0,NY,20558.0,...,NaN,M,1962.0,09302016,M,NaN,AB,9.246991e+10,07450,B2
33,53.0,2016.0,4.0,101.0,112.0,LOS,20545.0,1.0,NaN,20546.0,...,NaN,M,1987.0,09302016,F,NaN,AF,9.251028e+10,00077,B2
34,54.0,2016.0,4.0,101.0,251.0,MIA,20545.0,1.0,FL,20555.0,...,NaN,M,1974.0,09302016,F,NaN,AA,9.248609e+10,00063,B2
35,55.0,2016.0,4.0,102.0,102.0,NYC,20545.0,1.0,NY,20549.0,...,NaN,M,1948.0,06292016,F,NaN,KL,5.544677e+10,00641,WT
36,56.0,2016.0,4.0,102.0,102.0,NYC,20545.0,1.0,NY,20549.0,...,NaN,M,1967.0,06292016,F,NaN,KL,5.544665e+10,00641,WT
37,57.0,2016.0,4.0,102.0,102.0,LOS,20545.0,1.0,CA,20546.0,...,NaN,M,1982.0,06292016,M,NaN,AM,5.544667e+10,02200,WT
38,61.0,2016.0,4.0,102.0,102.0,MIA,20545.0,2.0,FL,NaN,...,NaN,NaN,1969.0,06292016,M,NaN,VES,6.649566e+08,91285,WT
39,67.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,AL,20580.0,...,NaN,M,1952.0,06292016,NaN,NaN,DL,5.543515e+10,00131,WT
40,68.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,FL,20560.0,...,NaN,M,1988.0,06292016,NaN,NaN,DL,5.543214e+10,00131,WT
41,69.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,FL,20560.0,...,NaN,M,1989.0,06292016,NaN,NaN,DL,5.543188e+10,00131,WT
42,70.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,FL,20567.0,...,NaN,M,1957.0,06292016,NaN,NaN,DL,5.544592e+10,00075,WT
43,71.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,FL,20595.0,...,NaN,M,1956.0,06292016,NaN,NaN,DL,5.544592e+10,00075,WT
44,72.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,GA,20554.0,...,NaN,M,1961.0,06292016,M,NaN,LH,5.542801e+10,00444,WT
45,73.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,GA,20634.0,...,NaN,M,1989.0,06292016,M,NaN,DL,5.544098e+10,00131,WT
46,74.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,GA,20554.0,...,NaN,M,1950.0,06292016,NaN,NaN,LH,5.542744e+10,00444,WT
47,75.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,TN,20558.0,...,NaN,M,1961.0,06292016,NaN,NaN,LH,5.542766e+10,00444,WT
48,76.0,2016.0,4.0,103.0,103.0,ATL,20545.0,1.0,TN,20558.0,...,NaN,M,1961.0,06292016,NaN,NaN,LH,5.542766e+10,00444,WT
49,78.0,2016.0,4.0,103.0,103.0,BOS,20545.0,1.0,MA,20548.0,...,NaN,M,1952.0,06292016,M,NaN,LH,5.543366e+10,00422,WT

In [6]:
# Read in the temperature data here
temp_data = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp_data = pd.read_csv(temp_data, sep=',')

In [7]:
df_temp_data.head(50)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Ã…rhus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Ã…rhus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Ã…rhus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Ã…rhus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Ã…rhus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Ã…rhus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Ã…rhus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Ã…rhus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Ã…rhus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Ã…rhus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Ã…rhus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Ã…rhus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
25,1745-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
26,1746-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
27,1746-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
28,1746-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
29,1746-04-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
30,1746-05-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
31,1746-06-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
32,1746-07-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
33,1746-08-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
34,1746-09-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
35,1746-10-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
36,1746-11-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
37,1746-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
38,1747-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
39,1747-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
40,1747-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
41,1747-04-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
42,1747-05-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
43,1747-06-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
44,1747-07-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
45,1747-08-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
46,1747-09-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
47,1747-10-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
48,1747-11-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
49,1747-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [11]:
set(df_temp_data["Country"].values)

{'Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Congo (Democratic Republic Of The)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "CÃ´te D'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [12]:
df_country = df_temp_data[df_temp_data["Country"] == "Turkey"]

In [13]:
df_country.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
3239,1743-11-01,10.013,2.291,Ã‡orlu,Turkey,40.99N,27.69E
3240,1743-12-01,NaN,NaN,Ã‡orlu,Turkey,40.99N,27.69E
3241,1744-01-01,NaN,NaN,Ã‡orlu,Turkey,40.99N,27.69E
3242,1744-02-01,NaN,NaN,Ã‡orlu,Turkey,40.99N,27.69E
3243,1744-03-01,NaN,NaN,Ã‡orlu,Turkey,40.99N,27.69E
3244,1744-04-01,13.685,2.162,Ã‡orlu,Turkey,40.99N,27.69E
3245,1744-05-01,15.021,1.824,Ã‡orlu,Turkey,40.99N,27.69E
3246,1744-06-01,19.663,1.701,Ã‡orlu,Turkey,40.99N,27.69E
3247,1744-07-01,22.314,1.648,Ã‡orlu,Turkey,40.99N,27.69E
3248,1744-08-01,NaN,NaN,Ã‡orlu,Turkey,40.99N,27.69E

In [14]:
list(set(df_country.City))

['Ankara',
 'Izmir',
 'Istanbul',
 'Kayseri',
 'Batman',
 'Eskisehir',
 'Konya',
 'Iskenderun',
 'Kahramanmaras',
 'Sivas',
 'Ã‡orlu',
 'Van',
 'Turgutlu',
 'KÃ¼tahya',
 'Osmaniye',
 'Trabzon',
 'Siirt',
 'Tarsus',
 'Malatya',
 'Nazilli',
 'Bursa',
 'Tekirdag',
 'Inegol',
 'Afyonkarahisar',
 'Siverek',
 'Antalya',
 'Erzincan',
 'Samsun',
 'Alanya',
 'Mersin',
 'Urfa',
 'Edirne',
 'Tokat',
 'Antakya',
 'Viransehir',
 'Aksaray',
 'Izmit',
 'Ã‡orum',
 'Denizli',
 'Karaman',
 'Turhal',
 'Zonguldak',
 'Manisa',
 'Usak',
 'Gaziantep',
 'Erzurum',
 'Adana',
 'Ordu',
 'Gebze',
 'Isparta',
 'Esenyurt']

In [15]:
# Dictionary of valid i94port codes is created
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
i94port_valid = {}

with open('i94port.txt') as f:
     for data in f:
        match = re_obj.search(data)
        i94port_valid[match[1]]=[match[2]]

In [16]:
# Convert dictionary to list to save as a dataframe
pCode=[]
pLocation=[]
for key, val in i94port_valid.items():
    pCode.append(key)
    pLocation.append(val)

In [17]:
port_locations = [f[0].replace("'","").strip() for f in pLocation]

In [18]:
print (port_locations)

['ALCAN, AK', 'ANCHORAGE, AK', 'BAKER AAF - BAKER ISLAND, AK', 'DALTONS CACHE, AK', 'DEW STATION PT LAY DEW, AK', 'DUTCH HARBOR, AK', 'EAGLE, AK', 'FAIRBANKS, AK', 'HOMER, AK', 'HYDER, AK', 'JUNEAU, AK', 'KETCHIKAN, AK', 'KETCHIKAN, AK', 'MOSES POINT INTERMEDIATE, AK', 'NIKISKI, AK', 'NOM, AK', 'POKER CREEK, AK', 'PORT LIONS SPB, AK', 'SKAGWAY, AK', 'ST. PAUL ISLAND, AK', 'TOKEEN, AK', 'WRANGELL, AK', 'MADISON COUNTY - HUNTSVILLE, AL', 'MOBILE, AL', 'LITTLE ROCK, AR (BPS)', 'ROGERS ARPT, AR', 'DOUGLAS, AZ', 'LUKEVILLE, AZ', 'MARIPOSA AZ', 'NACO, AZ', 'NOGALES, AZ', 'PHOENIX, AZ', 'PORTAL, AZ', 'SAN LUIS, AZ', 'SASABE, AZ', 'TUCSON, AZ', 'YUMA, AZ', 'ANDRADE, CA', 'BURBANK, CA', 'CALEXICO, CA', 'CAMPO, CA', 'FRESNO, CA', 'IMPERIAL COUNTY, CA', 'LONG BEACH, CA', 'LOS ANGELES, CA', 'MEADOWS FIELD - BAKERSFIELD, CA', 'OAKLAND, CA', 'ONTARIO, CA', 'OTAY MESA, CA', 'PACIFIC, HWY. STATION, CA', 'PALM SPRINGS, CA', 'SACRAMENTO, CA', 'SALINAS, CA (BPS)', 'SAN DIEGO, CA', 'SAN FRANCISCO, CA', 'SAN JOSE, CA', 'SAN LUIS OBISPO, CA', 'SAN LUIS OBISPO, CA (BPS)', 'SAN PEDRO, CA', 'SAN YSIDRO, CA', 'SANTA ANA, CA', 'STOCKTON, CA (BPS)', 'TECATE, CA', 'TRAVIS-AFB, CA', 'ARAPAHOE COUNTY, CO', 'ASPEN, CO #ARPT', 'COLORADO SPRINGS, CO', 'DENVER, CO', 'LA PLATA - DURANGO, CO', 'BRADLEY INTERNATIONAL, CT', 'BRIDGEPORT, CT', 'GROTON, CT', 'HARTFORD, CT', 'NEW HAVEN, CT', 'NEW LONDON, CT', 'NEWINGTON DATA CENTER TEST, CT', 'WASHINGTON DC', 'DOVER AFB, DE', 'DOVER-AFB, DE', 'WILMINGTON, DE', 'BOCAGRANDE, FL', 'BRADENTON - SARASOTA, FL', 'CAPE CANAVERAL, FL', 'DAYTONA BEACH INTERNATIONAL, FL', 'FERNANDINA, FL', 'FORT LAUDERDALE, FL', 'FORT MYERS, FL', 'FORT PIERCE, FL', 'HURLBURT FIELD, FL', 'J R ALISON MUNI - GAINESVILLE, FL', 'JACKSONVILLE, FL', 'KEY WEST, FL', 'LEESBURG MUNICIPAL AIRPORT, FL', 'MELBOURNE, FL', 'MIAMI, FL', 'NAPLES, FL #ARPT', 'OPA LOCKA, FL', 'ORLANDO, FL', 'PANAMA CITY, FL', 'PENSACOLA, FL', 'PORT CANAVERAL, FL', 'PORT EVERGLADES, FL', 'PORT ST JOE, FL', 'SANFORD, FL', 'ST AUGUSTINE ARPT, FL', 'ST AUGUSTINE, FL', 'ST LUCIE COUNTY, FL', 'ST PETERSBURG, FL', 'TAMPA, FL', 'WEST PALM BEACH, FL', 'ATLANTA, GA', 'BRUNSWICK, GA', 'BUSH FIELD - AUGUSTA, GA', 'SAVANNAH, GA', 'AGANA, GU', 'HONOLULU, HI', 'KAHULUI - MAUI, HI', 'KEAHOLE-KONA, HI', 'LIHUE, HI', 'CEDAR RAPIDS/IOWA CITY, IA', 'DES MOINES, IA', 'AIR TERM. (GOWEN FLD) BOISE, ID', 'EASTPORT, ID', 'FANNING FIELD - IDAHO FALLS, ID', 'PORTHILL, ID', 'CAPITAL - SPRINGFIELD, IL', 'CHICAGO, IL', 'DUPAGE COUNTY, IL', 'GREATER PEORIA, IL', 'GREATER ROCKFORD, IL', 'MEMORIAL - WAUKEGAN, IL', 'GARY, IN', 'HAMMOND, IN', 'INDIANAPOLIS, IN', 'MERRILLVILLE, IN', 'SOUTH BEND, IN', 'MID-CONTINENT - WITCHITA, KS', 'BLUE GRASS - LEXINGTON, KY', 'LOUISVILLE, KY', 'BATON ROUGE, LA', 'LAKE CHARLES, LA', 'LAKE CHARLES, LA (BPS)', 'MONROE, LA', 'MORGAN CITY, LA', 'NEW ORLEANS, LA', 'BOSTON, MA', 'GLOUCESTER, MA', 'HANSCOM FIELD - BEDFORD, MA', 'LYNDEN, WA', 'ANDREWS AFB, MD', 'BALTIMORE, MD', 'MUSKEGON, MD', 'PATUXENT RIVER, MD', 'BANGOR, ME', 'BOOTHBAY HARBOR, ME', 'BRIDGEWATER, ME', 'BUCKPORT, ME', 'CALAIS, ME', 'CARIBOU, ME', 'COBURN GORE, ME', 'EASTCOURT, ME', 'EASTPORT MUNICIPAL, ME', 'EASTPORT, ME', 'FOREST CITY, ME', 'FORT FAIRFIELD, ME', 'FORT KENT, ME', 'HAMIIN, ME', 'HOULTON, ME', 'JACKMAN, ME', 'KALISPEL, MT', 'LIMESTONE, ME', 'LUBEC, ME', 'MADAWASKA, ME', 'PORTLAND, ME', 'RANGELEY, ME (BPS)', 'SOUTH BREWER, ME', 'ST AURELIE, ME', 'ST PAMPILE, ME', 'VAN BUREN, ME', 'VANCEBORO, ME', 'ALGONAC, MI', 'ALPENA, MI', 'BAY CITY, MI', 'DETROIT, MI', 'GRAND RAPIDS, MI', 'GROSSE ISLE, MI', 'ISLE ROYALE, MI', 'MARINE CITY, MI', 'MARYSVILLE, MI', 'OAKLAND COUNTY - PONTIAC, MI', 'PORT HURON, MI', 'ROBERTS LANDING, MI', 'SAGINAW, MI', 'SAULT STE. MARIE, MI', 'ST CLAIR, MI', 'WILLOW RUN - YPSILANTI, MI', 'BAUDETTE, MN', 'CARIBOU MUNICIPAL AIRPORT, MN', 'Collapsed into INT, MN', 'Collapsed into INT, MN', 'CRANE LAKE, MN', 'CRYSTAL MUNICIPAL AIRPORT, MN', 'DULUTH, MN', 'ELY, MN', 'GRAND PORTAGE, MN', 'GRANT COUNTY - SILVER CITY, MN', 'L FALLS, MN', 'LANCASTER, MN', 'MINN./ST PAUL, MN', 'NORTHERN SVC CENTER, MN', 'NOYES, MN', 'PINE CREEK, MN', 'PINECREEK BORDER ARPT, MN', 'RAINER, MN', 'ROCHESTER, MN', 'ROSEAU, MN', 'ST PAUL, MN', 'WARROAD INTL, SPB, MN', 'WARROAD, MN', 'KANSAS CITY, MO', 'SPRINGFIELD-BRANSON, MO', 'ST LOUIS, MO', 'WHITETAIL, MT', 'WILD HORSE, MT', 'BILOXI REGIONAL, MS', 'GOLDEN TRIANGLE LOWNDES CNTY, MS', 'GULFPORT, MS', 'PASCAGOULA, MS', 'THOMPSON FIELD - JACKSON, MS', 'BILLINGS, MT', 'BUTTE, MT', 'CHIEF MT, MT', 'CUT BANK MUNICIPAL, MT', 'CUT BANK, MT', 'DEL BONITA, MT', 'EUREKA, MT (BPS)', 'GALLATIN FIELD - BOZEMAN, MT', 'GLACIER NATIONAL PARK, MT', 'GLASGOW, MT', 'GREAT FALLS, MT', 'HAVRE, MT', 'HELENA, MT', 'LEWISTON, MT', 'MORGAN, MT', 'OPHEIM, MT', 'PIEGAN, MT', 'RAYMOND, MT', 'ROOSVILLE, MT', 'SCOBEY, MT', 'SWEETGTASS, MT', 'TRIAL CREEK, MT', 'TURNER, MT', 'WILLOW CREEK, MT', 'CHARLOTTE, NC', 'FAYETTEVILLE, NC', 'MOREHEAD CITY, NC', 'MORRIS FIELDS AAF, NC', 'PIEDMONT TRIAD INTL AIRPORT, NC', 'RALEIGH/DURHAM, NC', 'SHAW AFB - SUMTER, NC', 'WILMINGTON, NC', 'AMBROSE, ND', 'ANTLER, ND', 'CARBURY, ND', 'DUNSEITH, ND', 'FARGO, ND', 'FORTUNA, ND', 'GRAND FORKS, ND', 'HANNAH, ND', 'HANSBORO, ND', 'MAIDA, ND', 'MINOT, ND', 'NECHE, ND', 'NOONAN, ND', 'NORTHGATE, ND', 'PEMBINA, ND', 'SARLES, ND', 'SHERWOOD, ND', 'ST JOHN, ND', 'WALHALLA, ND', 'WESTHOPE, ND', 'WILLISTON, ND', 'OMAHA, NE', 'LEBANON, NH', 'MANCHESTER, NH', 'PITTSBURG, NH', 'PORTSMOUTH, NH', 'BAYONNE, NJ', 'CAMDEN, NJ', 'HOBOKEN, NJ', 'JERSEY CITY, NJ', 'MC GUIRE AFB - WRIGHTSOWN, NJ', 'MORRISTOWN, NJ', 'NEWARK/TETERBORO, NJ', 'PERTH AMBOY, NJ', 'POMONA FIELD - ATLANTIC CITY, NJ', 'ALAMAGORDO, NM (BPS)', 'ALBUQUERQUE, NM', 'ANTELOPE WELLS, NM', 'CARLSBAD, NM', 'COLUMBUS, NM', 'CRANE LAKE - ST. LOUIS CNTY, NM', 'DEMING, NM (BPS)', 'LAS CRUCES, NM', 'LORDSBURG, NM (BPS)', 'RUIDOSO, NM', 'SANTA TERESA, NM', 'CANNON INTL - RENO/TAHOE, NV', 'FALLON MUNICIPAL AIRPORT, NV', 'LAS VEGAS, NV', 'RENO, NV', 'ALBANY, NY', 'ALEXANDRIA BAY, NY', 'BUFFALO, NY', 'CANNON CORNERS, NY', 'CAPE VINCENT, NY', 'CHAMPLAIN, NY', 'CHATEAUGAY, NY', 'CLAYTON, NY', 'FORT COVINGTON, NY', 'LA GUARDIA, NY', 'LEWISTON, NY', 'MASSENA, NY', 'MCGUIRE AFB, NY', 'MOORES, NY', 'MORRISTOWN, NY', 'NEW YORK, NY', 'NIAGARA FALLS, NY', 'OGDENSBURG, NY', 'OSWEGO, NY', 'REGIONAL ARPT - HORSEHEAD, NY', 'ROCHESTER, NY', 'ROUSES POINT, NY', 'STEWART - ORANGE CNTY, NY', 'SYRACUSE, NY', 'THOUSAND ISLAND BRIDGE, NY', 'TROUT RIVER, NY', 'WATERTOWN, NY', 'WESTCHESTER - WHITE PLAINS, NY', 'WHIRLPOOL BRIDGE, NY', 'YOUNGSTOWN, NY', 'AKRON, OH', 'ASHTABULA, OH', 'CINCINNATI, OH', 'CLEVELAND, OH', 'COLUMBUS, OH', 'LORAIN, OH', 'MARBLE HEADS, OH', 'SANDUSKY, OH', 'TOLEDO, OH', 'OKLAHOMA CITY, OK', 'TULSA, OK', 'ASTORIA, OR', 'COOS BAY, OR', 'HILLSBORO, OR', 'MEDFORD, OR', 'NEWPORT, OR', 'PORTLAND, OR', 'PUT-IN-BAY, OH', 'ROBERTS FIELDS - REDMOND, OR', 'ERIE, PA', 'HARRISBURG, PA', 'HARRISONBURG, PA', 'PHILADELPHIA, PA', 'PITTSBURG, PA', 'AGUADILLA, PR', 'BORINQUEN - AGUADILLO, PR', 'CULEBRA - BENJAMIN RIVERA, PR', 'ENSENADA, PR', 'FAJARDO, PR', 'HUMACAO, PR', 'JOBOS, PR', 'MAYAGUEZ, PR', 'PONCE, PR', 'PONCE-MERCEDITA, PR', 'SAN JUAN, PR', 'VIEQUES-ARPT, PR', 'PROVIDENCE, RI', 'THEODORE FRANCIS - WARWICK, RI', 'CHARLESTON, SC', 'COLUMBIA, SC #ARPT', 'GEORGETOWN, SC', 'GREENVILLE, SC', 'GREER, SC', 'MYRTLE BEACH, SC', 'BLACK HILLS, SPEARFISH, SD', 'HOWES REGIONAL ARPT - HURON, SD', 'SAIPAN, SPN', 'MC GHEE TYSON - ALCOA, TN', 'MEMPHIS, TN', 'NASHVILLE, TN', 'TRI CITY ARPT, TN', 'ADDISON AIRPORT- ADDISON, TX', 'AMISTAD DAM, TX', 'ANZALDUAS, TX', 'AUSTIN, TX', 'BEAUMONT, TX', 'BIG BEND PARK, TX (BPS)', 'BP SPEC COORD. CTR, TX', 'BP TACTICAL UNIT, TX', 'BRIDGE OF AMERICAS, TX', 'BROWNSVILLE, TX', 'CORPUS CHRISTI, TX', 'DALLAS, TX', 'DEL RIO, TX', 'DONNA, TX', 'EAGLE PASS, TX', 'EL PASO, TX', 'FABENS, TX', 'FALCON HEIGHTS, TX', 'FORT HANCOCK, TX', 'FORT WORTH ALLIANCE, TX', 'FREEPORT, TX', 'GALVESTON, TX', 'HARLINGEN, TX', 'HIDALGO, TX', 'HOUSTON, TX', 'HULL FIELD, SUGAR LAND ARPT, TX', 'JUAREZ-LINCOLN BRIDGE, TX', 'LAREDO COLUMBIA BRIDGE, TX', 'LAREDO NORTH, TX', 'LAREDO, TX', 'LOS EBANOS, TX', 'LOS INDIOS, TX', 'LOS INDIOS, TX', 'MARFA, TX (BPS)', 'MCALLEN, TX', 'ODESSA REGIONAL, TX', 'PASO DEL NORTE,TX', 'PEACE BRIDGE, NY', 'PHARR, TX', 'PORT ARTHUR, TX', 'PORT ISABEL, TX', 'PORT OF EL PASO, TX', 'PRESIDIO, TX', 'PROGRESO, TX', 'RIO GRANDE CITY, TX', 'ROMA, TX', 'SAN ANTONIO, TX', 'SANDERSON, TX', 'VETERAN INTL BRIDGE, TX', 'YSLETA, TX', 'CHARLOTTE AMALIE, VI', 'CHRISTIANSTED, VI', 'CRUZ BAY, ST JOHN, VI', 'FREDERIKSTED, VI', 'ST THOMAS, VI', 'CACHE AIRPORT - LOGAN, UT', 'SALT LAKE CITY, UT', 'ALBEMARLE CHARLOTTESVILLE, VA', 'DAVISON AAF - FAIRFAX CNTY, VA', 'HOPEWELL, VA', 'MANASSAS, VA #ARPT', 'NEWPORT, VA', 'NORFOLK, VA', 'RICHMOND, VA', 'ALBURG SPRINGS, VT', 'ALBURG, VT', 'BEEBE PLAIN, VT', 'BEECHER FALLS, VT', 'BURLINGTON, VT', 'CANAAN, VT', 'DERBY LINE, VT (I-91)', 'DERBY LINE, VT (RT. 5)', 'EAST RICHFORD, VT', 'HIGHGATE SPRINGS, VT', 'MORSES LINE, VT', 'NEWPORT, VT', 'NORTH TROY, VT', 'NORTON, VT', 'PINNACLE ROAD, VT', 'RICHFORT, VT', 'ST ALBANS, VT', 'SWANTON, VT (BP - SECTOR HQ)', 'WEST BERKSHIRE, VT', 'ABERDEEN, WA', 'ANACORTES, WA', 'BELLINGHAM, WA', 'BELLINGHAM, WASHINGTON #INTL', 'BLAINE, WA', 'BOUNDARY, WA', 'CURLEW, WA (BPS)', 'DANVILLE, WA', 'EVERETT, WA', 'FERRY, WA', 'FRIDAY HARBOR, WA', 'FRONTIER, WA', 'KALAMA, WA', 'LAURIER, WA', 'LONGVIEW, WA', 'METALINE FALLS, WA', 'MOSES LAKE GRANT COUNTY ARPT, WA', 'NEAH BAY, WA', 'NIGHTHAWK, WA', 'OLYMPIA, WA', 'OROVILLE, WA', 'PASCO, WA', 'POINT ROBERTS, WA', 'PORT ANGELES, WA', 'PORT TOWNSEND, WA', 'SEATTLE, WA', 'SPOKANE, WA', 'SUMAS, WA', 'TACOMA, WA', 'TRI-CITIES - PASCO, WA', 'VANCOUVER, WA', 'ALGOMA, WI', 'BAYFIELD, WI', 'GREEN BAY, WI', 'MANITOWOC, WI', 'MILWAUKEE, WI', 'TRUAX FIELD - DANE COUNTY, WI', 'CHARLESTON, WV', 'CLARKSBURG, WV', 'MERCER COUNTY, WV', 'CASPER, WY', 'CALGARY, CANADA', 'EDMONTON, CANADA', 'HAKAI PASS, CANADA', 'Halifax, NS, Canada', 'MONTREAL, CANADA', 'OTTAWA, CANADA', 'SASKATOON, CANADA', 'TORONTO, CANADA', 'VANCOUVER, CANADA', 'VICTORIA, CANADA', 'WINNIPEG, CANADA', 'AMSTERDAM-SCHIPHOL, NETHERLANDS', 'ARUBA, NETH ANTILLES', 'BANKOK, THAILAND', 'BEICA #ARPT, ETHIOPIA', 'BEIJING CAPITAL INTL, PRC', 'KINDLEY FIELD, BERMUDA', 'BOGOTA, EL DORADO #ARPT, COLOMBIA', 'BUENOS AIRES, MINISTRO PIST, ARGENTINA', 'CANCUN, MEXICO', 'CARAVELAS, BA #ARPT, BRAZIL', 'CARRASCO, URUGUAY', 'DUBLIN, IRELAND', 'FOUGAMOU #ARPT, GABON', 'FREEPORT, BAHAMAS', 'GEN M. ESCOBEDO, Monterrey, MX', 'GEN PESQUEIRA GARCIA, MX', 'GRAND CAYMAN, CAYMAN ISLAND', 'GUADALAJARA, MIGUEL HIDAL, MX', 'HAMILTON, BERMUDA', 'INCHON, SEOUL KOREA', 'INVALID - IWAKUNI, JAPAN', 'KOGALNICEANU, ROMANIA', 'LABUHA ARPT, INDONESIA', 'LOUIS BOTHA, SOUTH AFRICA', 'MANGOLE ARPT, INDONESIA', 'MEDELLIN, COLOMBIA', 'JUAREZ INTL, MEXICO CITY, MX', 'MIDDLESEX, ENGLAND', 'NAIROBI, KENYA', 'NASSAU, BAHAMAS', 'NORTH CAICOS, TURK & CAIMAN', 'OMAR TORRIJOS, PANAMA', 'PAPUA, NEW GUINEA', 'QUITO (MARISCAL SUCR), ECUADOR', 'ROME, ITALY', 'SAKON NAKHON #ARPT, THAILAND', 'SAN LUIS POTOSI #ARPT, MEXICO', 'SAN SALVADOR, EL SALVADOR', 'SANTANA RAMOS #ARPT, COLOMBIA', 'GUARULHOS INTL, SAO PAULO, BRAZIL', 'SHANNON, IRELAND', 'SHILLAVO, ETHIOPIA', 'TOROKINA #ARPT, PAPUA, NEW GUINEA', 'VERACRUZ, MEXICO', 'WEST SUSSEX, ENGLAND', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', 'CANNON CORNERS, NY', 'Abu Dhabi', 'MAGNOLIA, AR', 'BAR HARBOR, ME', 'BIRMINGHAM, AL', 'AKRON, OH', 'SUFFOLK COUNTY, NY', 'LANDER, WY', 'MARFA, TX', 'MOLINE, IL', 'RIVERSIDE, CA', 'ROME, NY', 'VAN NUYS, CA', 'YUMA, AZ']

In [19]:
pCities = [f.split(",")[0] for f in port_locations]
print(pCities)

['ALCAN', 'ANCHORAGE', 'BAKER AAF - BAKER ISLAND', 'DALTONS CACHE', 'DEW STATION PT LAY DEW', 'DUTCH HARBOR', 'EAGLE', 'FAIRBANKS', 'HOMER', 'HYDER', 'JUNEAU', 'KETCHIKAN', 'KETCHIKAN', 'MOSES POINT INTERMEDIATE', 'NIKISKI', 'NOM', 'POKER CREEK', 'PORT LIONS SPB', 'SKAGWAY', 'ST. PAUL ISLAND', 'TOKEEN', 'WRANGELL', 'MADISON COUNTY - HUNTSVILLE', 'MOBILE', 'LITTLE ROCK', 'ROGERS ARPT', 'DOUGLAS', 'LUKEVILLE', 'MARIPOSA AZ', 'NACO', 'NOGALES', 'PHOENIX', 'PORTAL', 'SAN LUIS', 'SASABE', 'TUCSON', 'YUMA', 'ANDRADE', 'BURBANK', 'CALEXICO', 'CAMPO', 'FRESNO', 'IMPERIAL COUNTY', 'LONG BEACH', 'LOS ANGELES', 'MEADOWS FIELD - BAKERSFIELD', 'OAKLAND', 'ONTARIO', 'OTAY MESA', 'PACIFIC', 'PALM SPRINGS', 'SACRAMENTO', 'SALINAS', 'SAN DIEGO', 'SAN FRANCISCO', 'SAN JOSE', 'SAN LUIS OBISPO', 'SAN LUIS OBISPO', 'SAN PEDRO', 'SAN YSIDRO', 'SANTA ANA', 'STOCKTON', 'TECATE', 'TRAVIS-AFB', 'ARAPAHOE COUNTY', 'ASPEN', 'COLORADO SPRINGS', 'DENVER', 'LA PLATA - DURANGO', 'BRADLEY INTERNATIONAL', 'BRIDGEPORT', 'GROTON', 'HARTFORD', 'NEW HAVEN', 'NEW LONDON', 'NEWINGTON DATA CENTER TEST', 'WASHINGTON DC', 'DOVER AFB', 'DOVER-AFB', 'WILMINGTON', 'BOCAGRANDE', 'BRADENTON - SARASOTA', 'CAPE CANAVERAL', 'DAYTONA BEACH INTERNATIONAL', 'FERNANDINA', 'FORT LAUDERDALE', 'FORT MYERS', 'FORT PIERCE', 'HURLBURT FIELD', 'J R ALISON MUNI - GAINESVILLE', 'JACKSONVILLE', 'KEY WEST', 'LEESBURG MUNICIPAL AIRPORT', 'MELBOURNE', 'MIAMI', 'NAPLES', 'OPA LOCKA', 'ORLANDO', 'PANAMA CITY', 'PENSACOLA', 'PORT CANAVERAL', 'PORT EVERGLADES', 'PORT ST JOE', 'SANFORD', 'ST AUGUSTINE ARPT', 'ST AUGUSTINE', 'ST LUCIE COUNTY', 'ST PETERSBURG', 'TAMPA', 'WEST PALM BEACH', 'ATLANTA', 'BRUNSWICK', 'BUSH FIELD - AUGUSTA', 'SAVANNAH', 'AGANA', 'HONOLULU', 'KAHULUI - MAUI', 'KEAHOLE-KONA', 'LIHUE', 'CEDAR RAPIDS/IOWA CITY', 'DES MOINES', 'AIR TERM. (GOWEN FLD) BOISE', 'EASTPORT', 'FANNING FIELD - IDAHO FALLS', 'PORTHILL', 'CAPITAL - SPRINGFIELD', 'CHICAGO', 'DUPAGE COUNTY', 'GREATER PEORIA', 'GREATER ROCKFORD', 'MEMORIAL - WAUKEGAN', 'GARY', 'HAMMOND', 'INDIANAPOLIS', 'MERRILLVILLE', 'SOUTH BEND', 'MID-CONTINENT - WITCHITA', 'BLUE GRASS - LEXINGTON', 'LOUISVILLE', 'BATON ROUGE', 'LAKE CHARLES', 'LAKE CHARLES', 'MONROE', 'MORGAN CITY', 'NEW ORLEANS', 'BOSTON', 'GLOUCESTER', 'HANSCOM FIELD - BEDFORD', 'LYNDEN', 'ANDREWS AFB', 'BALTIMORE', 'MUSKEGON', 'PATUXENT RIVER', 'BANGOR', 'BOOTHBAY HARBOR', 'BRIDGEWATER', 'BUCKPORT', 'CALAIS', 'CARIBOU', 'COBURN GORE', 'EASTCOURT', 'EASTPORT MUNICIPAL', 'EASTPORT', 'FOREST CITY', 'FORT FAIRFIELD', 'FORT KENT', 'HAMIIN', 'HOULTON', 'JACKMAN', 'KALISPEL', 'LIMESTONE', 'LUBEC', 'MADAWASKA', 'PORTLAND', 'RANGELEY', 'SOUTH BREWER', 'ST AURELIE', 'ST PAMPILE', 'VAN BUREN', 'VANCEBORO', 'ALGONAC', 'ALPENA', 'BAY CITY', 'DETROIT', 'GRAND RAPIDS', 'GROSSE ISLE', 'ISLE ROYALE', 'MARINE CITY', 'MARYSVILLE', 'OAKLAND COUNTY - PONTIAC', 'PORT HURON', 'ROBERTS LANDING', 'SAGINAW', 'SAULT STE. MARIE', 'ST CLAIR', 'WILLOW RUN - YPSILANTI', 'BAUDETTE', 'CARIBOU MUNICIPAL AIRPORT', 'Collapsed into INT', 'Collapsed into INT', 'CRANE LAKE', 'CRYSTAL MUNICIPAL AIRPORT', 'DULUTH', 'ELY', 'GRAND PORTAGE', 'GRANT COUNTY - SILVER CITY', 'L FALLS', 'LANCASTER', 'MINN./ST PAUL', 'NORTHERN SVC CENTER', 'NOYES', 'PINE CREEK', 'PINECREEK BORDER ARPT', 'RAINER', 'ROCHESTER', 'ROSEAU', 'ST PAUL', 'WARROAD INTL', 'WARROAD', 'KANSAS CITY', 'SPRINGFIELD-BRANSON', 'ST LOUIS', 'WHITETAIL', 'WILD HORSE', 'BILOXI REGIONAL', 'GOLDEN TRIANGLE LOWNDES CNTY', 'GULFPORT', 'PASCAGOULA', 'THOMPSON FIELD - JACKSON', 'BILLINGS', 'BUTTE', 'CHIEF MT', 'CUT BANK MUNICIPAL', 'CUT BANK', 'DEL BONITA', 'EUREKA', 'GALLATIN FIELD - BOZEMAN', 'GLACIER NATIONAL PARK', 'GLASGOW', 'GREAT FALLS', 'HAVRE', 'HELENA', 'LEWISTON', 'MORGAN', 'OPHEIM', 'PIEGAN', 'RAYMOND', 'ROOSVILLE', 'SCOBEY', 'SWEETGTASS', 'TRIAL CREEK', 'TURNER', 'WILLOW CREEK', 'CHARLOTTE', 'FAYETTEVILLE', 'MOREHEAD CITY', 'MORRIS FIELDS AAF', 'PIEDMONT TRIAD INTL AIRPORT', 'RALEIGH/DURHAM', 'SHAW AFB - SUMTER', 'WILMINGTON', 'AMBROSE', 'ANTLER', 'CARBURY', 'DUNSEITH', 'FARGO', 'FORTUNA', 'GRAND FORKS', 'HANNAH', 'HANSBORO', 'MAIDA', 'MINOT', 'NECHE', 'NOONAN', 'NORTHGATE', 'PEMBINA', 'SARLES', 'SHERWOOD', 'ST JOHN', 'WALHALLA', 'WESTHOPE', 'WILLISTON', 'OMAHA', 'LEBANON', 'MANCHESTER', 'PITTSBURG', 'PORTSMOUTH', 'BAYONNE', 'CAMDEN', 'HOBOKEN', 'JERSEY CITY', 'MC GUIRE AFB - WRIGHTSOWN', 'MORRISTOWN', 'NEWARK/TETERBORO', 'PERTH AMBOY', 'POMONA FIELD - ATLANTIC CITY', 'ALAMAGORDO', 'ALBUQUERQUE', 'ANTELOPE WELLS', 'CARLSBAD', 'COLUMBUS', 'CRANE LAKE - ST. LOUIS CNTY', 'DEMING', 'LAS CRUCES', 'LORDSBURG', 'RUIDOSO', 'SANTA TERESA', 'CANNON INTL - RENO/TAHOE', 'FALLON MUNICIPAL AIRPORT', 'LAS VEGAS', 'RENO', 'ALBANY', 'ALEXANDRIA BAY', 'BUFFALO', 'CANNON CORNERS', 'CAPE VINCENT', 'CHAMPLAIN', 'CHATEAUGAY', 'CLAYTON', 'FORT COVINGTON', 'LA GUARDIA', 'LEWISTON', 'MASSENA', 'MCGUIRE AFB', 'MOORES', 'MORRISTOWN', 'NEW YORK', 'NIAGARA FALLS', 'OGDENSBURG', 'OSWEGO', 'REGIONAL ARPT - HORSEHEAD', 'ROCHESTER', 'ROUSES POINT', 'STEWART - ORANGE CNTY', 'SYRACUSE', 'THOUSAND ISLAND BRIDGE', 'TROUT RIVER', 'WATERTOWN', 'WESTCHESTER - WHITE PLAINS', 'WHIRLPOOL BRIDGE', 'YOUNGSTOWN', 'AKRON', 'ASHTABULA', 'CINCINNATI', 'CLEVELAND', 'COLUMBUS', 'LORAIN', 'MARBLE HEADS', 'SANDUSKY', 'TOLEDO', 'OKLAHOMA CITY', 'TULSA', 'ASTORIA', 'COOS BAY', 'HILLSBORO', 'MEDFORD', 'NEWPORT', 'PORTLAND', 'PUT-IN-BAY', 'ROBERTS FIELDS - REDMOND', 'ERIE', 'HARRISBURG', 'HARRISONBURG', 'PHILADELPHIA', 'PITTSBURG', 'AGUADILLA', 'BORINQUEN - AGUADILLO', 'CULEBRA - BENJAMIN RIVERA', 'ENSENADA', 'FAJARDO', 'HUMACAO', 'JOBOS', 'MAYAGUEZ', 'PONCE', 'PONCE-MERCEDITA', 'SAN JUAN', 'VIEQUES-ARPT', 'PROVIDENCE', 'THEODORE FRANCIS - WARWICK', 'CHARLESTON', 'COLUMBIA', 'GEORGETOWN', 'GREENVILLE', 'GREER', 'MYRTLE BEACH', 'BLACK HILLS', 'HOWES REGIONAL ARPT - HURON', 'SAIPAN', 'MC GHEE TYSON - ALCOA', 'MEMPHIS', 'NASHVILLE', 'TRI CITY ARPT', 'ADDISON AIRPORT- ADDISON', 'AMISTAD DAM', 'ANZALDUAS', 'AUSTIN', 'BEAUMONT', 'BIG BEND PARK', 'BP SPEC COORD. CTR', 'BP TACTICAL UNIT', 'BRIDGE OF AMERICAS', 'BROWNSVILLE', 'CORPUS CHRISTI', 'DALLAS', 'DEL RIO', 'DONNA', 'EAGLE PASS', 'EL PASO', 'FABENS', 'FALCON HEIGHTS', 'FORT HANCOCK', 'FORT WORTH ALLIANCE', 'FREEPORT', 'GALVESTON', 'HARLINGEN', 'HIDALGO', 'HOUSTON', 'HULL FIELD', 'JUAREZ-LINCOLN BRIDGE', 'LAREDO COLUMBIA BRIDGE', 'LAREDO NORTH', 'LAREDO', 'LOS EBANOS', 'LOS INDIOS', 'LOS INDIOS', 'MARFA', 'MCALLEN', 'ODESSA REGIONAL', 'PASO DEL NORTE', 'PEACE BRIDGE', 'PHARR', 'PORT ARTHUR', 'PORT ISABEL', 'PORT OF EL PASO', 'PRESIDIO', 'PROGRESO', 'RIO GRANDE CITY', 'ROMA', 'SAN ANTONIO', 'SANDERSON', 'VETERAN INTL BRIDGE', 'YSLETA', 'CHARLOTTE AMALIE', 'CHRISTIANSTED', 'CRUZ BAY', 'FREDERIKSTED', 'ST THOMAS', 'CACHE AIRPORT - LOGAN', 'SALT LAKE CITY', 'ALBEMARLE CHARLOTTESVILLE', 'DAVISON AAF - FAIRFAX CNTY', 'HOPEWELL', 'MANASSAS', 'NEWPORT', 'NORFOLK', 'RICHMOND', 'ALBURG SPRINGS', 'ALBURG', 'BEEBE PLAIN', 'BEECHER FALLS', 'BURLINGTON', 'CANAAN', 'DERBY LINE', 'DERBY LINE', 'EAST RICHFORD', 'HIGHGATE SPRINGS', 'MORSES LINE', 'NEWPORT', 'NORTH TROY', 'NORTON', 'PINNACLE ROAD', 'RICHFORT', 'ST ALBANS', 'SWANTON', 'WEST BERKSHIRE', 'ABERDEEN', 'ANACORTES', 'BELLINGHAM', 'BELLINGHAM', 'BLAINE', 'BOUNDARY', 'CURLEW', 'DANVILLE', 'EVERETT', 'FERRY', 'FRIDAY HARBOR', 'FRONTIER', 'KALAMA', 'LAURIER', 'LONGVIEW', 'METALINE FALLS', 'MOSES LAKE GRANT COUNTY ARPT', 'NEAH BAY', 'NIGHTHAWK', 'OLYMPIA', 'OROVILLE', 'PASCO', 'POINT ROBERTS', 'PORT ANGELES', 'PORT TOWNSEND', 'SEATTLE', 'SPOKANE', 'SUMAS', 'TACOMA', 'TRI-CITIES - PASCO', 'VANCOUVER', 'ALGOMA', 'BAYFIELD', 'GREEN BAY', 'MANITOWOC', 'MILWAUKEE', 'TRUAX FIELD - DANE COUNTY', 'CHARLESTON', 'CLARKSBURG', 'MERCER COUNTY', 'CASPER', 'CALGARY', 'EDMONTON', 'HAKAI PASS', 'Halifax', 'MONTREAL', 'OTTAWA', 'SASKATOON', 'TORONTO', 'VANCOUVER', 'VICTORIA', 'WINNIPEG', 'AMSTERDAM-SCHIPHOL', 'ARUBA', 'BANKOK', 'BEICA #ARPT', 'BEIJING CAPITAL INTL', 'KINDLEY FIELD', 'BOGOTA', 'BUENOS AIRES', 'CANCUN', 'CARAVELAS', 'CARRASCO', 'DUBLIN', 'FOUGAMOU #ARPT', 'FREEPORT', 'GEN M. ESCOBEDO', 'GEN PESQUEIRA GARCIA', 'GRAND CAYMAN', 'GUADALAJARA', 'HAMILTON', 'INCHON', 'INVALID - IWAKUNI', 'KOGALNICEANU', 'LABUHA ARPT', 'LOUIS BOTHA', 'MANGOLE ARPT', 'MEDELLIN', 'JUAREZ INTL', 'MIDDLESEX', 'NAIROBI', 'NASSAU', 'NORTH CAICOS', 'OMAR TORRIJOS', 'PAPUA', 'QUITO (MARISCAL SUCR)', 'ROME', 'SAKON NAKHON #ARPT', 'SAN LUIS POTOSI #ARPT', 'SAN SALVADOR', 'SANTANA RAMOS #ARPT', 'GUARULHOS INTL', 'SHANNON', 'SHILLAVO', 'TOROKINA #ARPT', 'VERACRUZ', 'WEST SUSSEX', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', 'CANNON CORNERS', 'Abu Dhabi', 'MAGNOLIA', 'BAR HARBOR', 'BIRMINGHAM', 'AKRON', 'SUFFOLK COUNTY', 'LANDER', 'MARFA', 'MOLINE', 'RIVERSIDE', 'ROME', 'VAN NUYS', 'YUMA']

In [20]:
pStates = [f.split(",")[-1] for f in port_locations]
print(pStates)

[' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AL', ' AL', ' AR (BPS)', ' AR', ' AZ', ' AZ', 'MARIPOSA AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CO', ' CO #ARPT', ' CO', ' CO', ' CO', ' CT', ' CT', ' CT', ' CT', ' CT', ' CT', ' CT', 'WASHINGTON DC', ' DE', ' DE', ' DE', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL #ARPT', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' GA', ' GA', ' GA', ' GA', ' GU', ' HI', ' HI', ' HI', ' HI', ' IA', ' IA', ' ID', ' ID', ' ID', ' ID', ' IL', ' IL', ' IL', ' IL', ' IL', ' IL', ' IN', ' IN', ' IN', ' IN', ' IN', ' KS', ' KY', ' KY', ' LA', ' LA', ' LA (BPS)', ' LA', ' LA', ' LA', ' MA', ' MA', ' MA', ' WA', ' MD', ' MD', ' MD', ' MD', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' MT', ' ME', ' ME', ' ME', ' ME', ' ME (BPS)', ' ME', ' ME', ' ME', ' ME', ' ME', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MO', ' MO', ' MO', ' MT', ' MT', ' MS', ' MS', ' MS', ' MS', ' MS', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT (BPS)', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' NE', ' NH', ' NH', ' NH', ' NH', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NM (BPS)', ' NM', ' NM', ' NM', ' NM', ' NM', ' NM (BPS)', ' NM', ' NM (BPS)', ' NM', ' NM', ' NV', ' NV', ' NV', ' NV', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OK', ' OK', ' OR', ' OR', ' OR', ' OR', ' OR', ' OR', ' OH', ' OR', ' PA', ' PA', ' PA', ' PA', ' PA', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' RI', ' RI', ' SC', ' SC #ARPT', ' SC', ' SC', ' SC', ' SC', ' SD', ' SD', ' SPN', ' TN', ' TN', ' TN', ' TN', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX (BPS)', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX (BPS)', ' TX', ' TX', 'TX', ' NY', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' VI', ' VI', ' VI', ' VI', ' VI', ' UT', ' UT', ' VA', ' VA', ' VA', ' VA #ARPT', ' VA', ' VA', ' VA', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT (I-91)', ' VT (RT. 5)', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT (BP - SECTOR HQ)', ' VT', ' WA', ' WA', ' WA', ' WASHINGTON #INTL', ' WA', ' WA', ' WA (BPS)', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WI', ' WI', ' WI', ' WI', ' WI', ' WI', ' WV', ' WV', ' WV', ' WY', ' CANADA', ' CANADA', ' CANADA', ' Canada', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' NETHERLANDS', ' NETH ANTILLES', ' THAILAND', ' ETHIOPIA', ' PRC', ' BERMUDA', ' COLOMBIA', ' ARGENTINA', ' MEXICO', ' BRAZIL', ' URUGUAY', ' IRELAND', ' GABON', ' BAHAMAS', ' MX', ' MX', ' CAYMAN ISLAND', ' MX', ' BERMUDA', ' SEOUL KOREA', ' JAPAN', ' ROMANIA', ' INDONESIA', ' SOUTH AFRICA', ' INDONESIA', ' COLOMBIA', ' MX', ' ENGLAND', ' KENYA', ' BAHAMAS', ' TURK & CAIMAN', ' PANAMA', ' NEW GUINEA', ' ECUADOR', ' ITALY', ' THAILAND', ' MEXICO', ' EL SALVADOR', ' COLOMBIA', ' BRAZIL', ' IRELAND', ' ETHIOPIA', ' NEW GUINEA', ' MEXICO', ' ENGLAND', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', ' NY', 'Abu Dhabi', ' AR', ' ME', ' AL', ' OH', ' NY', ' WY', ' TX', ' IL', ' CA', ' NY', ' CA', ' AZ']

In [21]:
#Create the final dataframe of i94port table
a = {"port_code" : pCode, "port_city": pCities, "port_state": pStates}
df_port_locations = pd.DataFrame.from_dict(a, orient='index')
i94port_valid_df = df_port_locations.transpose()
i94port_valid_df.head(20)

   port_code                 port_city port_state
0        ALC                     ALCAN         AK
1        ANC                 ANCHORAGE         AK
2        BAR  BAKER AAF - BAKER ISLAND         AK
3        DAC             DALTONS CACHE         AK
4        PIZ    DEW STATION PT LAY DEW         AK
5        DTH              DUTCH HARBOR         AK
6        EGL                     EAGLE         AK
7        FRB                 FAIRBANKS         AK
8        HOM                     HOMER         AK
9        HYD                     HYDER         AK
10       JUN                    JUNEAU         AK
11       5KE                 KETCHIKAN         AK
12       KET                 KETCHIKAN         AK
13       MOS  MOSES POINT INTERMEDIATE         AK
14       NIK                   NIKISKI         AK
15       NOM                       NOM         AK
16       PKC               POKER CREEK         AK
17       ORI            PORT LIONS SPB         AK
18       SKA                   SKAGWAY         AK
19       SNP           ST. PAUL ISLAND         AK

In [22]:
#Clean the data with valid formats
new_df=df[df.i94port.isin(i94port_valid_df.port_code)]

In [23]:
processed_row_amount= len(new_df)
filtered_row_amount= raw_row_amount - processed_row_amount
print(f"Raw immigration data amount: {raw_row_amount}")
print(f"Final immigration data amount: {processed_row_amount}")
print(f"Number of rows cleaned: {filtered_row_amount}")

Raw immigration data amount: 3096313
Final immigration data amount: 3088544
Number of rows cleaned: 7769

In [24]:
new_df.head(20)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1953.0,09302016,NaN,NaN,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,NaN,M,1970.0,09302016,NaN,NaN,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,NaN,M,1968.0,09302016,NaN,NaN,AZ,9.247849e+10,00608,B1
10,23.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20671.0,...,NaN,M,1964.0,09302016,NaN,NaN,TK,9.250139e+10,00001,B2
11,24.0,2016.0,4.0,101.0,101.0,TOR,20545.0,1.0,MO,20554.0,...,NaN,M,1983.0,09302016,NaN,NaN,MQ,9.249091e+10,03348,B2
12,27.0,2016.0,4.0,101.0,101.0,BOS,20545.0,1.0,MA,20549.0,...,NaN,M,1958.0,04062016,M,NaN,LH,9.247876e+10,00422,B1
13,28.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20549.0,...,NaN,M,1960.0,04062016,F,NaN,LH,9.247890e+10,00422,B1
14,29.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20561.0,...,NaN,M,1954.0,09302016,M,NaN,AZ,9.250378e+10,00614,B2
15,30.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NJ,20578.0,...,NaN,M,1967.0,09302016,M,NaN,OS,9.247021e+10,00089,B2
16,31.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NY,20611.0,...,NaN,M,1973.0,09302016,M,NaN,OS,9.247129e+10,00089,B2
17,33.0,2016.0,4.0,101.0,101.0,HOU,20545.0,1.0,TX,20554.0,...,NaN,M,1963.0,09302016,F,NaN,TK,9.250930e+10,00033,B2
18,34.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1968.0,09302016,M,NaN,AZ,9.247042e+10,00602,B2
19,35.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1942.0,09302016,F,NaN,TK,6.697122e+08,1,B2
20,36.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20561.0,...,NaN,M,1979.0,09302016,M,NaN,TK,9.250626e+10,00001,B2

In [25]:
#Clean up null data from average temperature
df_temp_data = df_temp_data[df_temp_data.AverageTemperature.notnull()]

In [26]:
df_temp_data.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Ã…rhus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Ã…rhus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Ã…rhus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Ã…rhus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Ã…rhus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Ã…rhus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Ã…rhus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Ã…rhus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Ã…rhus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Ã…rhus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Ã…rhus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Ã…rhus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Ã…rhus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Ã…rhus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Ã…rhus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Ã…rhus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Ã…rhus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Ã…rhus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Ã…rhus,Denmark,57.05N,10.33E

In [27]:
#Join the temperature data with i94port to bring port_code column
df_temp_data=pd.merge(df_temp_data, i94port_valid_df, left_on='City', right_on='port_city', how='left').drop(['port_city','port_state'], axis=1)

In [28]:
# Clean up the null values
df_temp_data = df_temp_data[df_temp_data.port_code.notnull()]
df_temp_data.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,port_code
52150,1843-01-01,18.874,2.017,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52151,1843-02-01,19.993,1.790,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52152,1843-03-01,21.656,1.912,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52153,1843-04-01,25.205,1.853,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52154,1843-05-01,28.203,1.551,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52155,1843-06-01,31.411,1.584,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52156,1843-07-01,33.524,1.477,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52157,1843-08-01,33.377,1.776,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52158,1843-09-01,30.902,1.206,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52159,1843-11-01,23.151,1.399,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52160,1843-12-01,20.159,2.281,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52161,1844-01-01,18.370,1.796,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52162,1844-02-01,18.229,2.008,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52163,1844-05-01,28.254,1.559,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52164,1844-06-01,31.289,1.438,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52165,1844-07-01,33.410,1.493,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52166,1844-08-01,33.264,2.132,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52167,1844-09-01,30.413,1.294,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52168,1844-10-01,27.588,1.404,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52169,1844-11-01,22.678,1.394,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA

### Step 3: Define the Data Model


#### 3.1 Conceptual Data Model
Star schema is the simplest conceptual data model. It consists of one or multiple fact tables joining to numerous of dimension tables.
In this project, Immigration data contains the major information. Therefore it is better to keep it as a fact table in this star schema and make foreign keys for other tables to connect immigration table. This will allow us to examine the data in a wider range. For example, we can connect temperature and immigration table to analyze the correlation between the temperature and immigration patterns. As another example, i94port table and immigration table join can determine immigration pattern to city and states.
- cicid     
- year     
- month    
- city     
- res      
- iport  
- arrdate  
- depdate  
- visa     
- addr 

The first dimension table is I94port. The columns are showed below.
- port_code --foreign key
- port_city 
- port_state 

The second dimension table will be the temperature data.
- AverageTemperature 
- City 
- Country 
- Latitude 
- Longitude 
- iport -- foreign key


#### 3.2 Mapping Out Data Pipelines
As described in the step 2, data clean up should be completed first of all.
- Clean up and normalize the I94 data
- Clean up and normalize the temperature data
- Organize i94port data
- Run create_table.py file
- Join temperature data with i94port
- Insert the data into the database

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [29]:
# Create the database
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [49]:
#Temporary in case
#conn.close()

In [30]:
immigration_final_df = new_df[['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate', 'depdate', 'visatype', 'i94addr']]

In [31]:
#For Future: https://stackoverflow.com/questions/56237415/removing-encoding-utf8-0x00-chars-from-pandas-dataframe-for-psycopg2-cursor
#removing encoding â€œUTF8â€: 0x00 chars from pandas dataframe for psycopg2 cursor
re_null = re.compile(pattern='\x00')
immigration_final_df.replace(regex=re_null,value=' ', inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

In [32]:
#Postgres doesn't accept string literal. The data has NULL (0x00)
immigration_final_df.dropna(inplace=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
for i, row in immigration_final_df.iterrows():
    cur.execute(immigration_table_insert,list(row.values))
    conn.commit()

In [34]:
#Join the temperature data with i94port to bring port_code column, drop the port_city and port_state columns from i94port dataframe
df_temp_data=pd.merge(df_temp_data, i94port_valid_df, left_on='City', right_on='port_city', how='left').drop(['port_city','port_state'], axis=1)

In [35]:
# Clean up the null values from temperature dataframe
df_temp_data = df_temp_data[df_temp_data.port_code.notnull()]
df_temp_data.head(20)

In [36]:
temperature_final_df = df_temp_data[['AverageTemperature', 'City', 'Country', 'Latitude', 'Longitude', 'port_code']]

In [37]:
for i, row in temperature_final_df.iterrows():
    cur.execute(temperature_table_insert,list(row.values))
    conn.commit()

In [38]:
for i, row in i94port_valid_df.iterrows():
    cur.execute(i94port_table_insert,list(row.values))
    conn.commit()

#### 4.2 Data Quality Checks
Run Quality Checks

In [39]:
#Final Quality Check to make sure everything is good
cur.execute("SELECT COUNT(*) FROM immigration")
conn.commit()
if cur.rowcount < 1:
    print("Nothing has been transferred to immigration table.")
    
cur.execute("SELECT COUNT(*) FROM temperature")
conn.commit()
if cur.rowcount < 1:
    print("Nothing has been transferred to temperature table.")
    
cur.execute("SELECT COUNT(*) FROM i94port")
conn.commit()
if cur.rowcount < 1:
    print("Nothing has been transferred to i94port table.")

#### 4.3 Data dictionary 
#### Fact Table: - Immigration Data Columns:

- cicid    FLOAT 
- year     FLOAT
- month    FLOAT
- city     FLOAT
- res      FLOAT
- iport  VARCHAR
- arrdate  FLOAT
- depdate  FLOAT
- visa     VARCHAR
- addr     VARCHAR


#### Dimension Table - I94ports Data Columns:

- port_code VARCHAR
- port_city VARCHAR
- port_state VARCHAR

#### Dimension Table - temperature data Columns:

- AverageTemperature FLOAT
- City VARCHAR
- Country VARCHAR
- Latitude VARCHAR
- Longitude VARCHAR
- iport VARCHAR

#### Step 5: Complete Project Write Up
Clearly state the rationale for the choice of tools and technologies for the project.

I used Panda library for this project which I am very comfortable with. It can easily handle multiple file formats (SAS, csv, etc) that contain large amounts of data. It is also easy to manipulate the data and very efficient. However it would be better to use Spark later to on to be able to utilize Amazon Web Services and Apache Airflow. Amazon Services will help (Redshift, EMR) to distribute the data very efficiently and Airflow will be useful for schedeling the process.

Propose how often the data should be updated and why.
- Since the format of the raw files are monthly, we should continue pulling the data monthly.

#### Scenarios
Write a description of how you would approach the problem differently under the following scenarios.
* When the data was increased by 100x, do you store the data in the same way? If your project is heavy on reading over writing, how do you store the data in a way to meet this requirement? What if the requirement is heavy on writing instead?

* * In that case, I would use Spark with EMR to process the data in a distributed way with high efficiency. In this project the data has been stored in Postgres database. However it can be better approach to use NoSQL database if the data gets much bigger. Apache Cassandra can be a great example since it is free and taught in Data Engineering course. Airflow can help to write the data into the database. It can scale above the 100 million rows.

* How do you run this pipeline on a daily basis by 7 am every day. What if the dag fails, how do you update the dashboard? Will the dashboard still work? Or will you populate the dashboard by using the last day?

* * I would use Airflow and create a DAG to monitor the process. If the dag fails, a trigger can be set up within Airflow to inform the Airflow operator or the data engineering team to troubleshoot the issue.

* How do you make your database could be accessed by 100+ people? Can you come up with a more cost-effective approach? Does your project need to support 100+ connections at the same time?

* * Redshift can be a good alternative if over 100+ people need to access the database. Redshift Great auto-scaling capabilities and can be accessed by many people. Amazon Web Services provides multiple options for Redshift. To make it cost-effective, we can choose the lowest node that is in our bugdet. PostgreSQL can be a cheaper option however the performance compared to redshift will be lower.